#history {
    text-align: left;
}

#history h2 {
    background-color: #87CEEB;
    border-radius: 30px;
    padding: 2% 1%;
    text-align: center;
}

.reasons_heading {
    margin-top: 5%;
}

#reasons div {
    margin-top: 10%;
}

#reasons div img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
}

#reasons div h3,
ul {
    text-align: left;
    margin-top: 2%;
}

#reasons li {
    margin-left: 5%;
}


/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px),
print {
    #reasons div {
        width: 40%;
        margin: 6% 2%;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

    #reasons div {
        width: 29%;
        margin: 1% 2%;
    }
}