* {
    box-sizing: border-box;
}


.product-related h2, .account h2 {
    background-color: #87CEEB;
    padding: 1%;
    border-radius: 30px;
    color: white;

}

.product-related ul li, .account ul li {
    font-size: 1.2em;
}

.product-related ul li:hover, .account ul li:hover {
    font-style: italic;
    text-decoration: underline;
    font-size: 1.4em;
}