/* CSS Reset */
body, container, header, nav, main, footer, h1, div, nav, nav ul, h4, img, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
html, body {
    height: 100%;
}

body {
    background-color: #fff;
}

/* Style rules for mobile device */
.tab-desk, #menu-links {
    display: none;
}

#company_name {
    width: 100px;
    height: 100px;
    stroke-width: 50%;
}

header {
    top: 0;
    background-color: #87CEEB;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    padding-left: 5%;
}

#company_name{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-banner {
    width: 100%;
}

nav {
    background-color: #87CEEB;
}

.mobile-nav a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
}

.menu-icon {
    color: #fff;
    text-align: center;
    font-size: 2em;
    padding: 2%;
    display: block;
}

.mobile-nav .menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0 2em;
}

nav li:last-child {
    border-bottom: none;
}

nav li {
    border-bottom: solid 0.5px #fff;
    font-size: 1.2em;
    padding: 0.8em 0.1em;
}

nav li:hover, nav li:focus {
    font-size: 1.3em;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    display: block;
    margin: 2em 2em;
}

main div {
    display: inline-block;
    margin-top: 1%;
    text-align: center;
    width: 100%;
}

.intro-title {
    width:  100%;
    top: 9%;
    color: #000;
    font-size: 2em;
    font-family: "Francois One", sans-serif;
}

main div img {
    width: 100%;
    height: auto;
}

.intro-desc {
    font-size: 1.5em;
    color: #fff;
    background-color:#87CEEB;
    border-radius: 8px;
    padding: 3% 2%;
    margin: 0 auto;
}

#promotion h4 {
    text-align: left;
    margin-left: 5%;
}

.tel-line {
    margin-top: 5%;
}

.tel-line a {
    font-size: 1.5em;
    color: #fff;
    background-color: #87CEEB;
    padding: 2% 5%;
    border-radius: 8px;
    margin: 0 auto;
    font-weight: bold;
}

main h2 {
    text-align: center;
    margin-top: 5%;
}

.special-reasons div {
    text-align: left;
    margin-top: 3%;
}

.special-reasons h4 {
    margin-top: 0;
    padding: 1% 0;
}

.special-reasons p {
    margin-top: 0.5%;
    margin-left: 5%;
}

.mission h4 {
    color: #fff;
    font-size: 1.2em;
    background-color: #87CEEB;
    border-radius: 50px;
    margin-top: 3%;
    padding: 1% 1%;
}
.mission_span {
    color: #87CEEB;
    font-size: 1.3em;
}

.tablet-desktop {
    display: none;
}

footer {
    background-color: #87CEEB;
    padding: 0.1% 5%;
}

footer p {
    size: 0.5em;
    color: black;
    text-align: center;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    .special-reasons div {
        width: 40%;
        text-align: left;
        margin: 3% 2%;
    }

    .mobile-nav {
        display: none;
    }

    .tab-desk {
        display: block;
    }

    nav li {
        border-bottom: solid 0.5px #fff;
        font-size: 1.2em;
        padding: 0.8em 0.1em;
    }

    nav ul {
        list-style-type: none;
        text-align: center;
        margin: 0 2em;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    #container {
        width: 1920px;
        margin: 0 auto;
    }

    .special-reasons div {
        width: 29%;
        text-align: left;
        margin: 6% 2%;
    }

    .tab-desk {
        display: inline;
    }
}