* {
    box-sizing: border-box;
}

.story {
    border: 3px solid #87CEEB;
}

.story p {
    font-size: 1.2em;
}

.story aside {
    background-color: #f1f1f1;
    padding: 1px;
    margin: 1% 4%;
}

.story aside h3 {
    font-size: 1em;
}

.story aside p {
    font-size: 0.9em;
}

.about-us section p {
    font-size: 1.25em;
}

figure {
    position: relative;
    max-width: 450px;
    margin: 6% auto;
}

img {
    max-width: 100%;
    display: block;
}

.pic-text {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 2%;
    bottom: 0;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    .about-us figure{
        width: 40%;
    }

    .pic-text {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1024px), print {
    .about-us div{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 2%;
    }

    .pic-text {
        font-size: 1.5em;
    }
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
    .about-us div {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: 2%;
    }

    .pic-text {
        font-size: 1.2em;
    }
}

