table {
    padding: 0;
    margin: 0;
    border: 0;
}

table {
    width: 100%;
    border: 1px solid #87CEEB;
    text-align: center;
    border-collapse: collapse;
}

table caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2%;
}

th {
    background-color: #87CEEB;
    font-size: 1em;
}

th, td {
    padding: 1%;
    border: 1px solid #87CEEB;
}

tr:nth-child(odd) {
    background-color: #dee7eb;
}

tr:hover {
    background-color: #87CEEB;
    color: #fff;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 630px), print {
    th {
        font-size: 1.3em;
    }
}

